<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inove</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css" />

    <link rel="icon" href="/images/icon.png" />
</head>

<body>
    <div id="page-home">
        <div id="container">

            <header>
                <div class="image-logo">
                    <img src="/images/logoInove.svg" alt="Logo Inove" />
                </div>
            </header>

            <section>
                <div class="buttons">
                    <a class="btn-sales" href="page-sales"><img src="/images/button-sales.svg" alt="Ir para venda"></a>
                    <a class="btn-stock" href="page-list-stock"><img src="/images/button-list.svg" alt="Ir para lista de estoque"></a>
                </div>
            </section>

            <footer>
                <p>@ Inove 2021</p>
            </footer>
        </div>
    </div>
    <script src="../scripts/index.js"></script>
</body>

</html>